.container-wra{
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  height: 50px;
  width: 90%;
  background: white;
  border-radius: 5px;
  position: absolute;
  bottom: 88px;
  left: 19px;
  text-align: center;
 background: #db7a69;
  .box {
padding :8px;
    margin:10px;
color: white;
  }
}
