<div class="profile-wrapper">
  <div class="profile-image">
    <img src="./../../../../assets/icons/profile.jpeg" alt="profile-image" />
  </div>

  <div class="profile-name drawrer">Alexandar Elisabeth</div>
  <div class="profile-id drawrer"></div>
  <div class="profile-id drawrer">
    Padel (payload delivery) is a porject created to let everyone keep track
    your packages you've sent to someone. <br />
    Project can be viewed at
    <a href="https://github.com/vipulxd/padel">Github</a>
  </div>
  <div class="profile-id drawrer"></div>
</div>
