<div class="map-wrapper">
  <div class="permission-btn-wrapper">
    <div *ngIf="!updatingLocation">
      <button class="btn-home" (click)="requestLocationUpdate()">START</button>
    </div>
    <div *ngIf="updatingLocation">
      <button class="btn-home" (click)="requestStopLocationUpdates()">
        STOP
      </button>
    </div>
  </div>

  <agm-map
    [latitude]="coords[coords.length -1].lat"
    [longitude]="coords[coords.length -1].lng"
    [disableDefaultUI]="true"
    [zoom]="getLocAcc()"
    [usePanning]="true"
    [tilt]="100"
  >
    >
    <agm-marker
      *ngFor="let coordinate of coords; let i = index"
      [latitude]="coordinate.lat"
      [longitude]="coordinate.lng"
      [agmFitBounds]="true"
      [iconUrl]="$any(icon)"
    ></agm-marker>
    <agm-marker
      *ngFor="let points of pickupLocations let i = index"
      [latitude]="points.latitude"
      [longitude]="points.longitude"
      [agmFitBounds]="true"
      [iconUrl]="$any(pickupLocationsImage)"
    >
      <agm-info-window [disableAutoPan]="false">
        <div>
          {{'Subject : ' + points.task_subject}}
        </div>
        <div class="message-body">
          {{'Message : ' + points.task_message}}
        </div>
        <div class="select-body">
          <select *ngIf="points.status != 'COMPLETED'" name="Status" id="status">
            <option *ngIf="points.status === 'PENDING'" value="Task status"></option>
            <option value="IN PROGRESS" *ngIf="points.status != 'PENDING' "
                    (click)="updateStatus(points.task_id,$event)">IN PROGRESS
            </option>
            <option value="COMPLETED" *ngIf="points.status  != 'PENDING'"
                    (click)="updateStatus(points.task_id,$event)">COMPLETED
            </option>
            }}
          </select>
          <div *ngIf="points.status === 'COMPLETED'">
            <b>COMPLETED</b>
          </div>

        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
