agm-map {
  height: 98vh;
  width: 100vw;
}

.permission-btn-wrapper {
  position: absolute;
  z-index: 1 !important;
  height: 51px;
  width: 100%;
  padding: 20px;
  text-align: center
}
.message-body{
  width:180px;
}
.select-body{
  padding:10px;
}


