agm-map {
  height: 98vh;
  width: 100vw;
}

.permission-btn-wrapper {
  position: absolute;
  z-index: 1 !important;
  height: 51px;
  width: 100%;

  padding: 20px;
  text-align: center
}



.btn-home {
  height: 38px;
  width: 130px;
  background-color: #078be7;
  border: none;
  color: black;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}