.nav-wrapper {
    position: absolute;
    z-index: 9999999999999 !important;
    top: 0;
    left: 0;
    height: 100vh;
    width:90px;
    background: #db7a69;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.activeStyle {
    color: white;
    font-weight: bolder;
    font-size: large;
}

.nav-wrapper li {
    padding: 10px 0px;
}

.inactiveStyle {
    color: black;
    font-weight: bold;
    font-size: large;
}

.lower-end {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-top:30px;
}

.lower-end img {
    height: 100%;
    width: 100%;

}
.lower-end-img{
   margin:4px 30px;

}
.lower-end-img img{
    cursor: pointer;
    height: 40px;
    width: 40px;
}